{% extends "base.html" %}

{% block content %}
<div class="topbar d-flex justify-content-between align-items-center mb-4">
    <div>
        <h1><i class="fa-solid fa-users text-pink me-2" style="color: var(--spu-pink);"></i>ระบบทำเนียบสมาชิกชมรม</h1>
        <p class="text-muted mb-0">รายชื่อและสถานะพนักงานวิทยุสมัครเล่น สังกัด SPU AREC</p>
    </div>
    <button class="btn text-white px-4 font-kanit" style="background-color: var(--spu-pink); border-radius: 10px;">
        <i class="fa-solid fa-user-plus me-2"></i>เพิ่มสมาชิกใหม่
    </button>
</div>

<div class="bg-white p-4 rounded-4 shadow-sm border-0">
    <div class="table-responsive">
        <table class="table table-hover align-middle mb-0">
            <thead class="table-light">
                <tr>
                    <th class="py-3">ลำดับ</th>
                    <th class="py-3">สัญญาณเรียกขาน</th>
                    <th class="py-3">ชื่อ-นามสกุล</th>
                    <th class="py-3">ประเภทสมาชิก</th>
                    <th class="py-3">สถานะใบอนุญาต</th>
                    <th class="py-3 text-center">จัดการ</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td><span class="badge bg-dark px-3 py-2 font-mono fs-6">HS1EGG</span></td>
                    <td><strong>ดร.วรสรวง  ดวงจินดา</strong></td>
                    <td><span class="text-muted">อาจารย์ที่ปรึกษา</span></td>
                    <td><span class="badge bg-success-subtle text-success border border-success-subtle px-3 py-1">5 ปี </span></td>
                    <td class="text-center">
                        <button class="btn btn-sm btn-outline-secondary me-1"><i class="fa-solid fa-pen-to-square"></i></button>
                        <button class="btn btn-sm btn-outline-danger"><i class="fa-solid fa-trash"></i></button>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td><span class="badge bg-dark px-3 py-2 font-mono fs-6">E25DUV</span></td>
                    <td><strong>ว่าที่ร.ต.ไกรวิทย์ แสนทวีสุข</strong></td>
                    <td><span class="text-muted"> อาจารย์ที่ปรึกษาด้านกฎหมาย </span></td>
                    <td><span class="badge bg-success-subtle text-success border border-success-subtle px-3 py-1">5 ปี </span></td>
                    <td class="text-center">
                        <button class="btn btn-sm btn-outline-secondary me-1"><i class="fa-solid fa-pen-to-square"></i></button>
                        <button class="btn btn-sm btn-outline-danger"><i class="fa-solid fa-trash"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}